<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Packages List</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          This is the expansion 1 title
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          This the expansion 1 content
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          This is the expansion 2 title
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          This the expansion 2 content
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            This is the expansion 3 title
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            This the expansion 3 content
          </ng-template>
        </mat-expansion-panel>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            This is the expansion 4 title
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            This the expansion 4 content
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              This is the expansion 5 title
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              This the expansion 5 content
            </ng-template>
          </mat-expansion-panel>
    
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              This is the expansion 6 title
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              This the expansion 6 content
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                This is the expansion 7 title
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                This the expansion 7 content
              </ng-template>
            </mat-expansion-panel>
      
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                This is the expansion 8 title
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                This the expansion 8 content
              </ng-template>
            </mat-expansion-panel>                  
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <!--
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    -->
  </mat-card-actions>
</mat-card>