<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Update</h1>
    </mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Packages">
        <h2>Packages list</h2>
        <app-packages></app-packages>
      </mat-tab>
      <mat-tab label="Upload">
        <h2>Upload package</h2>
        <app-upload></app-upload>
      </mat-tab>
      <mat-tab label="Scheduled">
        <h2>Scheduled updates</h2>
        <app-scheduled></app-scheduled>
      </mat-tab>
      <mat-tab label="Update Status">
        <h2>Update status</h2>
        <app-update-status></app-update-status>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <!--
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      -->
  </mat-card-actions>
</mat-card>