<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button  mat-icon-button (click)='onClickMenu()'>
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>