<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the package 1 title
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      This is package 1 content
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the package 2 title
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      This is package 2 content
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the package 3 title
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      This is package 3 content
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the package 4 title
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      This is package 4 content
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the package 5 title
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      This is package 5 content
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the package 6 title
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      This is package 6 content
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the package 7 title
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      This is package 7 content
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the package 8 title
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      This is package 8 content
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>